body {
    background-color: whitesmoke;
}

h1, h2 {
    color: black;
    font-family: sans-serif;
}

a {
    color: lightsalmon;
    font-family: sans-serif;
}

a:hover {
    color: salmon;
    font-family: sans-serif;
}

.btn:focus, .btn:active, .btn:visited {
    outline: none !important;
    box-shadow: none !important;
    background-color: teal;
}

#finalScore {
    font-family: sans-serif;
    font-weight: bold;
}

span {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

#questionTitle {
    font-size: 20px;
    font-family: sans-serif;
}

#answer {
    font-style: italic;
    color: black;
}